<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="../static/style.css">-->
    <title>Acitivies</title>
  </head>
  <body>

    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('jokes') }}">Jokes</a>
      <a href="{{ url_for('trivia') }}">Trivia</a>
      <a href="{{ url_for('activities') }}">You are here</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <h3>Generate An Activity...</h3>

    {{ data }}<br><br> <!--temporary-->

		<!--display-->
		<!-- make this a dropdown -->
    <p>category: {{ data['type'] }}</p>
		<!-- add kid friendly button -->
    <h2>{{ data['activity'] }}</h2>
    <p>Accessibility: {{ data['accessibility'] }}</p>
    <p>Duration: {{ data['duration'] }}</p>
    <p>Number of participants: {{ data['participants'] }}</p>
    <p>Price: {{ data['price'] }}</p>

		<br><br>

		<!--settings-->
		<p>Settings</p>
		<form method="POST" action="activites">
			<!-- have a slider for each setting with a range equaling the number of options. indices of options array! -->
			Number of people <input type="range" min="0" max="6" value={{ num_val }} name="num_val" /><br>
			Price <input type="range" min="0" max="40" value={{ price }} name="price" /><br>
			Accessibility <input type="range" min="0" max="3" value={{ accessibility }} name="accessibility" /><br>
			Duration <input type="range" min="0" max="1" value={{ duration }} name="duration" /><br>
			<!-- add 'consider factor' button for all above-->
			<br>
			<input type="submit" value="Generate new" />
		</form>

  </body>
</html>
