<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type = "text/tailwindcss">
      @theme {
        --font-title: "roboto", sans-serif;
        --font-mono: "in", inconsolata;
        --color-pastel-blue: #d4f5ff;
        --color-pizza: #0000FF;
      }
    </style>

    <title>Cure My Boredom</title>

  </head>

  <body class = "bg-linear-to-r from-fuchsia-300 to-orange-300">
    <nav class = "flex items-center bg-gray-800 p-2 align-items: center">
      <div class = "w-50 flex-auto"></div>

      <div class = "flex flex-auto justify-center">
      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('home') }}">You are here</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('jokes') }}">Jokes</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('trivia') }}">Trivia</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('activities') }}">Activities</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
      </button>

      <button class = "bg-black text-white border-1 text-[20px] hover:bg-white hover:text-black">
      <a href="{{ url_for('logout') }}">Logout</a>
      </button>
      </div>

      <div class = "w-50 flex-auto text-white text-right">
      <p>{{ username }}</p>
      </div>
    </nav>

    <h2 class = "font-fancy text-center text-[80px]">Welcome to Cure My Boredom!</h2>

    <div class = "text-center">
      <p>Logged in as {{ username }}</p>
      <p>Trivia points: {{ points }}</p>
      <br>
      <br>
      <p class = "text-[100px]">Click on one of these activities and have fun!</p>
    </div>

    <br>

    <div class = "flex flex-auto justify-center">
      <div class = "grid grid-cols-3 gap-3 w-99/100">
        <div class = "text-center bg-red-200 border-4 border-red-300 rounded-xl"><p>card 1</p></div>
        <div class = "text-center bg-teal-200 border-4 border-teal-300 rounded-xl"><p>card 2</p></div>
        <div class = "text-center bg-yellow-200 border-4 border-yellow-300 rounded-xl"><p>card 3</p></div>
      </div>
    </div>

  </body>
</html>
