<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="../static/style.css">-->
    <title>Register</title>
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('jokes') }}">Jokes</a>
      <a href="{{ url_for('trivia') }}">Trivia</a>
      <a href="{{ url_for('activities') }}">Activities</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <h2>jokes</h2>
    <p>logged in as {{ username }}</p>
  </body>
</html>
