<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type = "text/tailwindcss">
      @theme {
        --font-title: "roboto", sans-serif;
        --font-mono: "in", inconsolata;
        --color-pastel-blue: #d4f5ff;
        --color-pizza: #0000FF;
      }
    </style>

    <title>Jokes</title>

  </head>

  <body class = "bg-[url(/static/images/laughingclown.gif)]">
  <nav class = "flex items-center bg-gray-800 p-2 align-items: center">
    <div class = "w-50 flex-auto"></div>

    <div class = "flex flex-auto justify-center">
    <button class = "bg-black text-white border-1 border-indigio-600 text-[20px] hover:bg-white hover:text-black">
    <a href="{{ url_for('home') }}">Home</a>
    </button>

    <button class = "bg-black text-white border-1 border-indigio-600 text-[20px] hover:bg-white hover:text-black">
    <a href="{{ url_for('jokes') }}">You are here</a>
    </button>

    <button class = "bg-black text-white border-1 border-indigio-600 text-[20px] hover:bg-white hover:text-black">
    <a href="{{ url_for('trivia') }}">Trivia</a>
    </button>

    <button class = "bg-black text-white border-1 border-indigio-600 text-[20px] hover:bg-white hover:text-black">
    <a href="{{ url_for('activities') }}">Activities</a>
    </button>

    <button class = "bg-black text-white border-1 border-indigio-600 text-[20px] hover:bg-white hover:text-black">
    <a href="{{ url_for('logout') }}">Logout</a>
    </button>
    </div>

    <div class = "w-50 flex-auto text-white text-right">
    <p>{{ username }}</p>
    </div>
  </nav>

    <h2>jokes</h2>
    <p>logged in as {{ username }}</p>
    {% if joke %}
        {% if joke.type == "single" %}
             <p>{{joke.joke}}</p> <!--separates the setup for a joke-->
        {% elif joke.type == "twopart" %}
             <p>{{joke.setup}}</p>
             <p>{{joke.delivery}}</p>
        {% else %}
             <p> Unexpected joke format</p>
        {% endif %}
    {% endif %}
    <br>
    <a href = "{{url_for('jokes')}}"> Get Another Joke </a> <!--creates a link to regenerate jokes-->
  </body>
</html>
