<!DOCTYPE html>

<!--
  Squash (Jason Chan, Aoanul Hoque, Isabel Zheng, Maya Berchin)
  SoftDev
  P01: ArRESTed Development
  2025-12-22
  time spent: 1.5 hrs
 -->

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KeyError</title>
  </head>
  <body>
    <h2>OH NOOOOOOOOOOOOOOOOOOOOOOOOO! There's an error.</h2>
    <p>Trying to get information from {{ API }} resulted in {{ err }}.</p>
    <h2>Try refreshing, or try again in a few minutes.</h2>
    {% if API == "Bored API" %}
      <h2>If that doesn't work, try going back and changing the settings before generating a new activity.</h2>
    {% endif %}
  </body>
</html>
