<!DOCTYPE html>

<!--
  Squash (Jason Chan, Aoanul Hoque, Isabel Zheng, Maya Berchin)
  SoftDev
  P01: ArRESTed Development
  2025-12-22
  time spent: 1.5 hrs
 -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --font-title: "roboto", sans-serif;
        --font-mono: "in", inconsolata;
        --color-pastel-blue: #d4f5ff;
        --color-pizza: #0000FF;
      }
    </style>

    <title>Leaderboard</title>
  </head>

  <body class="bg-linear-to-r from-green-300 to-violet-300 min-h-screen">

    <nav class="flex items-center bg-gray-800 p-2">
      <div class="w-50 flex-auto"></div>

      <div class="flex flex-auto justify-center">

        <button class="bg-black text-white border text-[20px] hover:bg-white hover:text-black">
          <a href="{{ url_for('home') }}">Home</a>
        </button>

        <button class="bg-black text-white border text-[20px] hover:bg-white hover:text-black">
          <a href="{{ url_for('jokes') }}">Jokes</a>
        </button>

        <button class="bg-black text-white border text-[20px] hover:bg-white hover:text-black">
          <a href="{{ url_for('trivia') }}">Trivia</a>
        </button>

        <button class="bg-black text-white border text-[20px] hover:bg-white hover:text-black">
          <a href="{{ url_for('activities') }}">Activities</a>
        </button>

        <button class="bg-black text-white border text-[20px] hover:bg-white hover:text-black">
          <a href="#">You are here</a>
        </button>

        <button class="bg-black text-white border text-[20px] hover:bg-white hover:text-black">
          <a href="{{ url_for('logout') }}">Logout</a>
        </button>

      </div>

      <div class="w-50 flex-auto text-white text-right">
        <p>{{ username }}</p>
      </div>
    </nav>

    <h2 class="font-fancy text-4xl text-center my-4">Leaderboard</h2>
    <p class="text-center my-2">Logged in as {{ username }}</p>

    <div class="flex justify-center mt-6">
      <table class="border border-black bg-white text-center shadow-lg">
        <thead class="bg-indigo-300">
          <tr>
            <th class="px-6 py-2">Rank</th>
            <th class="px-6 py-2">Username</th>
            <th class="px-6 py-2">Score</th>
          </tr>
        </thead>

        <tbody>
        {% for player in top_players %}
          <tr class="even:bg-indigo-100 odd:bg-white">
            <td class="px-6 py-2">{{ loop.index }}</td>
            <td class="px-6 py-2">{{ player[0] }}</td> <!--  this is the username !-->
            <td class="px-6 py-2">{{ player[1] }}</td> <!--  this is the users points !-->
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>
