<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type = "text/tailwindcss">
      @theme {
           --font-title: "roboto", sans-serif;
           --font-mono: "in", inconsolata;
           --color-clifford: #da373d;
           --color-pizza: #0000FF;
      }
    </script>
    </style>
    <title>Login</title>
  </head>
  <body>
    <h2>Enter username and password to login</h2>
    <form method="post">
      <label for="username">Username:</label>
      <br>
      <input type="text" name="username" id="username">
      <br>
      <br>
      <label for="password">Password:</label>
      <br>
      <input type="password" name="password" id="password">
      <br>
      <br>
      <input type="submit" value="Login">
    </form>
    {% if error %}
      <h3>{{ error }}</h3>
    {% endif %}
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>

  </body>
</html>
