<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type = "text/tailwindcss">
      @theme {
           --font-title: "roboto", sans-serif;
           --font-mono: "in", inconsolata;
           --color-clifford: #da373d;
           --color-pizza: #0000FF;
      }
    </style>

    <title>Login</title>

  </head>

  <body class = "bg-green-100">
    <h2 class = "text-center text-[70px]">Enter username and password to login</h2>
    <br>
    <form method="post">
      <label for="username">Username:</label>
      <br>

      <div>
      <input type="text" name="username" id="username" class = "bg-blue-100 border-1 border-indigio-600">
      </div>

      <br>
      <br>
      <label for="password">Password:</label>
      <br>

      <div>
      <input type="password" name="password" id="password" class = "bg-blue-100 border-1 border-indigio-600">
      </div>

      <br>
      <br>
      <button class = "bg-blue-100 border-1 border-indigio-600 hover:bg-white">Login</button>
    </form>

    <br>
    {% if error %}
      <h3>{{ error }}</h3>
    {% endif %}
    <p>Don't have an account?
      <button class = "bg-blue-100 border-1 border-indigio-600 hover:bg-white">
      <a href="{{ url_for('register') }}">Register here</a>
      </button>
    </p>

  </body>
</html>
