<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="../static/style.css">-->
    <title>Register</title>
  </head>
  <body>
    <h2>Enter username and password to create a new account</h2>
    <form method="post">
      <label for="username">Username:</label>
      <br>
      <input type="text" name="username" id="username">
      <br>
      <br>
      <label for="password">Password:</label>
      <br>
      <input type="password" name="password" id="password">
      <br>
      <br>
      <input type="submit" value="Register">
    </form>
    {% if error %}
      <h3>{{ error }}</h3>
    {% endif %}
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>

  </body>
</html>
